{% extends "layouts/base-custome.html" %} {% block content %}
<!-- currency_converter/templates/currency_converter/convert_currency.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convert Currency</title>
  </head>
  <body>
    <h1>Convert Currency</h1>
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div>
        {{ form.amount.label_tag }} {{ form.amount }} {{ form.amount.errors }}
      </div>
      <div>
        {{ form.from_currency.label_tag }} {{ form.from_currency }} {% if
        form.from_currency.errors %}
        <span style="color: red">{{ form.from_currency.errors }}</span>
        {% endif %}
      </div>
      <div>
        {{ form.to_currency.label_tag }} {{ form.to_currency }} {% if
        form.to_currency.errors %}
        <span style="color: red">{{ form.to_currency.errors }}</span>
        {% endif %}
      </div>
      <button type="submit">Convert</button>
    </form>
  </body>
</html>

{% endblock %}
